<%= form_with(model: bagged_summit) do |form| %>
  <% if bagged_summit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bagged_summit.errors.count, "error") %> prohibited this bagged_summit from being saved:</h2>

      <ul>
        <% bagged_summit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :datetime, 'When did you bag this summit?' %>
    <%= form.date_select :datetime %>
  </div>

  <div class="field">
    <%= form.label :summit_id, 'Summit ID' %>
    <%= form.text_field :summit_id %>
    <script>
    (() => {
      let urlSearchParams = new URLSearchParams(window.location.search);
      let params = Object.fromEntries(urlSearchParams.entries());
      if (!params.summit_id) {
        //TODO: display searchable list of summits
        alert('Sorry, there should be a ?summit_ID= in the url but the code isn\'t picking it up. It\'s on the TODO list to add a searchable list of summits but for now you\'ll just have to forgive me I\'m afraid.')
      } else {
        //set form field to summit id
        //#bagged_summit_summit_id
        document.getElementById('bagged_summit_summit_id').value = params.summit_id;
      }
    })()
    </script>
  </div>

  <div class="field">
    user ID - set server side in the controller for currently logged in user.
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Bag it' %>
  </div>
<% end %>
