<p id="notice"><%= notice %></p>

<h1>Bagged Summits</h1>

<table>
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Summit</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bagged_summits.each do |bagged_summit| %>
      <tr>
        <td><%= bagged_summit.datetime %></td>
        <td><%= bagged_summit.summit_id %></td>
        <td><%= bagged_summit.user_id %></td>
        <td><%= link_to 'Show', bagged_summit %></td>
        <td><%= link_to 'Edit', edit_bagged_summit_path(bagged_summit) %></td>
        <td><%= link_to 'Destroy', bagged_summit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Bagged Summit', new_bagged_summit_path %>
