<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @bagged_summit.datetime %>
</p>

<p>
  <strong>Summit:</strong>
  <%= @bagged_summit.summit_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bagged_summit.user_id %>
</p>

<%= link_to 'Edit', edit_bagged_summit_path(@bagged_summit) %> |
<%= link_to 'Back', bagged_summits_path %>
