/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --light: #f0dac5;
  --dark: #035284;
  --bs-primary: var(--dark);
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: 'Roboto Slab', serif;
  font-weight:100;
}

.v-pad { width: 100%; height: 100px; }

h1, .h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}

table, tbody, td, tfoot, th, thead, tr {
  border: 0.5px solid var(--dark);
  color: var(--dark);
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 0.5px;
}
.table-bordered > :not(caption) > * {
  border-width: 0.5px 0;
}
select {
  background: transparent;
  border: 1px dotted var(--dark);
  padding: 3px 6px;
  color: var(--dark);
}

.page-link {
  background-color: transparent;
  border: 1px dotted var(--dark);
  color: var(--dark);
}
.page-link:hover {
  background-color: transparent;
  border: 1px dashed var(--dark);
  color: var(--dark);
}
.page-item.disabled .page-link {
  color: var(--dark);
  background-color: transparent;
  border-color: transparent;
}
.page-item.active .page-link {
  color: var(--light);
  background-color: var(--dark);
  border-color: var(--dark);
}