// Place all the styles related to the summits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//BEM style classes in order to learn grid - not that I'm endorsing BEM these days, go use utility classes for real projects.
.filter-btn {
  color: var(--dark);
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px dotted var(--dark);

  &:hover {
    border: 1px dashed var(--dark);
  }

  &--on {
    border: 1px solid var(--dark);
    background: var(--dark);
    color: var(--light);
    &:hover {
      border: 1px dashed var(--light);
    }
  }
}

.filter-panel {
  display: flex;
  font-size: 0.8rem;

  &__sidebar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-right: 1px solid var(--dark);
    margin-right: 22px;
    width: 28px;
  }
  
  
  &__sidebar-title {
    position: absolute;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 2rem;
  }
  &__class-grid {
    display: grid;
    flex-grow: 1;
    column-gap: 3px;
    row-gap: 3px;
    grid-template-columns: [start] 8.2fr [onehm] 8.2fr [twohm] 8.2fr [threehm] 8.2fr [fourhm] 8.2fr [fivehm] 8.2fr [sixhm] 0.8fr [twok] 12.5fr [twofivek] 12.5fr [threek] 25fr [end];
    grid-template-rows: [one] 1fr [two] 1fr [three] 1fr [four] 1fr [five] 1fr [six] 1fr [seven] 1fr [eight] 1fr [nine] 1fr [ten];
  }

  &__2k-label { 
    grid-column-start: twok; grid-row-start: one; 
  }
  &__2p5k-label { 
    grid-column-start: twofivek; grid-row-start: one; 
  }
  &__3k-label { 
    grid-column-start: threek; grid-row-start: one; 
  }

  &__top-label {
    position: relative;
    top: -16px; left: -10px;
    transform: rotate(-30deg);
    width: 0; height: 0;
  }
  

  &__filter-munroe { grid-column-start: threek; grid-column-end: end; grid-row-start: one; grid-row-end: two; }
  &__filter-furth { grid-column-start: threek; grid-column-end: end; grid-row-start: five; grid-row-end: six; }
  &__filter-hewitt { grid-column-start: twok; grid-column-end: end; grid-row-start: six; grid-row-end: seven; }
  &__filter-nuttal { grid-column-start: twok; grid-column-end: end; grid-row-start: seven; grid-row-end: eight; }
  
  &__filter-simm { grid-column-start: sixhm; grid-column-end: end; grid-row-start: four; grid-row-end: five; }
  &__filter-dillon { grid-column-start: twok; grid-column-end: end; grid-row-start: three; grid-row-end: four; }
  &__filter-corbett { grid-column-start: twofivek; grid-column-end: threek; grid-row-start: one; grid-row-end: two; }

  &__filter-graham {  grid-column-start: twok; grid-column-end: twofivek; grid-row-start: one; grid-row-end: two; }
  &__filter-donald {  grid-column-start: twok; grid-column-end: end; grid-row-start: two; grid-row-end: three; }

  &__filter-none-hundreder { grid-column-start: start; grid-column-end: onehm; grid-row-start: three; grid-row-end: five; }
  &__filter-one-hundreder { grid-column-start: onehm; grid-column-end: twohm; grid-row-start: three; grid-row-end: five; }
  &__filter-two-hundreder { grid-column-start: twohm; grid-column-end: threehm; grid-row-start: three; grid-row-end: five; }
  &__filter-three-hundreder { grid-column-start: threehm; grid-column-end: fourhm; grid-row-start: three; grid-row-end: five; }
  &__filter-four-hundreder { grid-column-start: fourhm; grid-column-end: fivehm; grid-row-start: three; grid-row-end: five; }
  &__filter-five-hundreder { grid-column-start: fivehm; grid-column-end: sixhm; grid-row-start: three; grid-row-end: five; }

  &__filter-highland-five { grid-column-start: fivehm; grid-column-end: twok; grid-row-start: one; grid-row-end: two; }
  &__filter-donalddewey { grid-column-start: fivehm; grid-column-end: twok; grid-row-start: two; grid-row-end: three; }
  &__filter-dewey { grid-column-start: fivehm; grid-column-end: twok; grid-row-start: five; grid-row-end: six; }
  &__filter-wainwrights { grid-column-start: start; grid-column-end: end; grid-row-start: eight; grid-row-end: nine; }

  // &__scotland-label { grid-column-start: end;  grid-row-start: one;  grid-row-end: three;  }
  // &__ireland-label { grid-column-start: end;  grid-row-start: three;  grid-row-end: four;  }
  // &__man-label { grid-column-start: end;  grid-row-start: four;  grid-row-end: five;  }
  // &__wales-label { grid-column-start: end;  grid-row-start: five;  grid-row-end: six;  }
  // &__england-label { grid-column-start: end;  grid-row-start: six;  grid-row-end: seven;  }

  &__side-label { 
    grid-column-start: end;  grid-row-start: one;  grid-row-start: one; grid-row-end: ten;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    border-left: 1px solid var(--dark);
  }

  &__other-classes {
    grid-column-start: start; grid-column-end: end; grid-row-start: nine; grid-row-end: ten;
    display: flex;
    justify-content: space-between;
  }
}

//=============
$mPerPix: 3;

$leftPad: 80px;
$topPad: 20px;

$ft500: (152.4px / $mPerPix);
$ft2000: ($ft500 * 4);
$ft2500: ($ft500 * 5);
$ft3000: ($ft500 * 6);
$m600: (600px / $mPerPix);

$munroeMax: (1345px / $mPerPix);
$munroeRange: (431px / $mPerPix); //1345 - 914 = 431m
$corbettMax: (1345px / $mPerPix);
$corbettRange: $ft500;
$grahamMax: (1345px / $mPerPix);
$grahamRange: $ft500;
$donaldMax: (843px / $mPerPix);
$donaldRange: ((843px - 610) / $mPerPix); //2000ft (610) - 843
$dillonMax: (1038px / $mPerPix);
$dillonRange: ((1038px - 610) / $mPerPix); /// 2000ft (610) - 1038
$simmMax: (1345px / $mPerPix);
$simmRange: ((1345 - 600px) / $mPerPix); //600m to 1345
$furthMax: (1085px / $mPerPix);
$furthRange: ((1085px - 914.4) / $mPerPix); //3000ft (914.4) to 1085m
$hewittMax: (1085px / $mPerPix);
$hewittRange: ((1085px - 610) / $mPerPix); //610m - 1085
$nuttalMax: (1085px / $mPerPix);
$nuttalRange: ((1085px - 610) / $mPerPix); //610m - 1085
$wainwrightMax: (978px / $mPerPix);
$wainwrightRange: ((978px - 53) / $mPerPix); //53m - 978
$highlandfiveMax: (609px / $mPerPix);
$highlandfiveRange: (109px / $mPerPix); //500 - 609 highlands
$donaldDeweyRange: (109px / $mPerPix); //500 - 609 lowlands
$deweyRange: (109px / $mPerPix); //500 - 609 England wales, iom


$noneHundrederMax: (100px / $mPerPix);
$noneHundrederRange: (100px / $mPerPix);
$oneHundrederMax: (200px / $mPerPix);
$oneHundrederRange: (100px / $mPerPix);
$twoHundrederMax: (300px / $mPerPix);
$twoHundrederRange: (100px / $mPerPix);
$threeHundrederMax: (400px / $mPerPix);
$threeHundrederRange: (100px / $mPerPix);
$fourHundrederMax: (500px / $mPerPix);
$fourHundrederRange: (100px / $mPerPix);
$fiveHundrederMax: (600px / $mPerPix);
$fiveHundrederRange: (100px / $mPerPix);


.class-vis-wrapper {
  position: relative;
  height: ((1345px / $mPerPix) + 21px + 100px);
  overflow: hidden;
}
.class-vis {
  position: absolute;
  top: $topPad;
  left: -25%;
  width: 200%;
  margin: 0 auto;
  transform: scale(.5, 1);
  height: ((1345px / $mPerPix) + 650);

  &__mountain {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: var(--light);
    border: 1px solid var(--light);
    transform-origin: 0 0;
    transform: rotate(45deg);
    // box-shadow: 1px 1px 5px var(--dark);
    border: 1px solid var(--dark);
    overflow: hidden;
    p {  
      margin: 0; 
      font-weight: 500;
      transform: skew( -25deg, 0);
      padding: 0 0 0 10px;
      color: var(--light);
      
    }
    
    &--wainwrights {     z-index: 92;  bottom: ($wainwrightMax - 150px);     left: (8 * $leftPad);}
    &--dillon {          z-index: 93;  bottom: ($dillonMax - 150px);         left: (7 * $leftPad);}
    &--furth {           z-index: 94;  bottom: ($furthMax - 150px);          left: (6 * $leftPad);}
    &--hewitt {          z-index: 95;  bottom: ($hewittMax - 150px);         left: (5 * $leftPad);}
    &--nuttal {          z-index: 96;  bottom: ($nuttalMax - 150px);         left: (4 * $leftPad);}
    &--simm {            z-index: 97;  bottom: ($munroeMax - 150px);         left: (2 * $leftPad);}
    &--munroe {          z-index: 98;  bottom: ($munroeMax - 150px);         left: (1 * $leftPad);}
    &--deweys {          z-index: 99;  bottom: ($ft2000 - 150px);            left: (3.5 * $leftPad);}
    &--donalddewey {     z-index: 100; bottom: ($ft2000 - 150px);             left: (3.0 * $leftPad);}
    &--highlandfive {    z-index: 101; bottom: ($highlandfiveMax - 150px);   left: (2.5 * $leftPad);}
    &--donald {          z-index: 102; bottom: ($donaldMax - 150px);         left: (1 * $leftPad);}
    &--corbett {         z-index: 103; bottom: ($ft3000 - 150px);            left: (0 * $leftPad);}
    &--graham {          z-index: 104; bottom: ($ft2500 - 150px);            left: (0 * $leftPad);}
    &--five-hundreder {  z-index: 105; bottom: ($fiveHundrederMax - 150px);  left: (0 * $leftPad); }
    &--four-hundreder {  z-index: 106; bottom: ($fourHundrederMax - 150px);  left: (0 * $leftPad); }
    &--three-hundreder { z-index: 107; bottom: ($threeHundrederMax - 150px); left: (0 * $leftPad); }
    &--two-hundreder {   z-index: 108; bottom: ($twoHundrederMax - 150px);   left: (0 * $leftPad); }
    &--one-hundreder {   z-index: 109; bottom: ($oneHundrederMax - 150px);   left: (0 * $leftPad); }
    &--none-hundreder {  z-index: 110; bottom: ($noneHundrederMax - 150px);  left: (0 * $leftPad); }
  }
  &__level {
    position: absolute;
    background-color: var(--dark);
    width: 150%;
    height: 50%;
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0 0;

    //1px = 5m
    $rangeTweak: 1px;
    &--munroe-range { height: ($munroeRange - $rangeTweak); } 
    &--corbett-range { height: ($corbettRange - $rangeTweak); }
    &--graham-range { height: ($grahamRange - $rangeTweak); }
    &--simm-range { height: ($simmRange - $rangeTweak); }
    &--donald-range { height: ($donaldRange - $rangeTweak); }
    &--highlandfive-range { height: ($highlandfiveRange - $rangeTweak); }
    &--donalddewey-range { height: ($donaldDeweyRange - $rangeTweak); }
    &--deweys-range { height: ($deweyRange - $rangeTweak); }
    &--dillon-range { height: ($dillonRange - $rangeTweak); }
    &--nuttal-range { height: ($nuttalRange - $rangeTweak); }
    &--hewitt-range { height: ($hewittRange - $rangeTweak); }
    &--furth-range { height: ($furthRange - $rangeTweak); }
    &--wainwrights-range { height: ($wainwrightRange - $rangeTweak); }
    &--none-hundreder-range { height: ($noneHundrederRange - $rangeTweak); }
    &--one-hundreder-range { height: ($oneHundrederRange - $rangeTweak); }
    &--two-hundreder-range { height: ($twoHundrederRange - $rangeTweak); }
    &--three-hundreder-range { height: ($threeHundrederRange - $rangeTweak); }
    &--four-hundreder-range { height: ($fourHundrederRange - $rangeTweak); }
    &--five-hundreder-range { height: ($fiveHundrederRange - $rangeTweak); }
  }

  $gridPad: 649px;
  .grid-line {
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed var(--dark);
    z-index: 200;
    &--nevis { bottom: ($munroeMax + $gridPad); right: calc(100% - #{(2 * $leftPad)}); }
    &--snowdon { bottom: ((1085px / $mPerPix) + $gridPad); left: (4*$leftPad) }
    &--carrauntoohil { bottom: ((1038px / $mPerPix) + $gridPad); left: (7*$leftPad) }
    &--scafell { bottom: ((978px / $mPerPix) + $gridPad); left: (8*$leftPad) }
    &--3000ft { bottom: ($ft3000 + $gridPad); right: 100%; }
    &--2500ft { bottom: ($ft2500 + $gridPad); right: 100%; }
    &--2000ft { bottom: ($ft2000 + $gridPad); right: 73%; }
    &--600m { bottom: ($m600 + $gridPad); right: 72%; }
    &--0 { 
      bottom: (0 + $gridPad); 
      border-bottom: 1px solid var(--dark); 
      width: 200%;
      right: 0;
    }

    &__text {
      position: absolute;
      bottom: 0;
      margin: 0;
      transform: scale(2, 1);

      &--nevis { right: 230px; }
      &--snowdon { left: 100px; }
      &--carrauntoohil { left: 140px; bottom: -21px; }
      &--scafell { left: 120px; bottom: -21px; }
      &--3000ft { right: 100px; }
      &--2500ft { right: 150px; }
      &--2000ft { right: 900px; }
      &--600m { right: 945px;  bottom: -25px;}
    }
  }

  $flagPad: 547px;
  .flag {
    position: absolute;
    margin: 0;
    transform: scale(2, 1);
    z-index: 300;

    &--scotland { bottom: ($flagPad + 80); left: 1010px; }
    &--ireland { bottom: ($flagPad + 60); left: 1030px; }
    &--wales { bottom: ($flagPad + 40); left: 1050px; }
    &--iom { bottom: ($flagPad + 20); left: 1070px; }
    &--england { bottom: ($flagPad + 0); left: 1090px; }

  }
}

//=============

.sorting-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    margin-bottom: 0;
  }
  .pagy-bootstrap-nav {
    margin-left: 20px;
  }
}