<p id="notice"><%= notice %></p>

<h1>Hikes</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hikes.each do |hike| %>
      <tr>
        <td><%= hike.date %></td>
        <td><%= hike.description %></td>
        <td><%= hike.title %></td>
        <td><%= link_to 'Show', hike %></td>
        <td><%= link_to 'Edit', edit_hike_path(hike) %></td>
        <td><%= link_to 'Destroy', hike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hike', new_hike_path %>
