<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @hike.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hike.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @hike.title %>
</p>

<%= link_to 'Edit', edit_hike_path(@hike) %> |
<%= link_to 'Back', hikes_path %>
