<script>
let urlSearchParams = new URLSearchParams(window.location.search);
let urlSearchParamsObject = Object.fromEntries(urlSearchParams.entries());

const getFilterParamsFromUrl = () => {
  //filters array from url
  let filterby = urlSearchParamsObject.filterby ? urlSearchParamsObject.filterby : '';
  let filterByArray = filterby ? filterby.split(",") : [];
  return filterByArray;
}

const filterBtnClick = (filter) => {
  let filterByArray = getFilterParamsFromUrl();
  //add or remove filter
  if (filterByArray.indexOf(filter) == -1) {
    filterByArray.push(filter);
  } else {
    filterByArray.splice(filterByArray.indexOf(filter), 1);
  }

  //set or remove filterby param in url
  filterByArray.length > 0 ? urlSearchParams.set('filterby', filterByArray.toString()) : urlSearchParams.delete('filterby');
  window.location.search = urlSearchParams.toString();
}
</script>

<p id="notice"><%= notice %></p>

<h1>Summits</h1>

<p>My lat lng: 55.949711, -3.098420</p>

<div class="v-pad"></div>

<div class="class-vis-wrapper">
  <div class="class-vis">
	
    <div class="class-vis__mountain class-vis__mountain--munroe">
      <div class="class-vis__level class-vis__level--munroe-range"></div>
      <p>Munroes</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--corbett">
      <div class="class-vis__level class-vis__level--corbett-range"></div>
      <p>Corbetts</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--graham">
      <div class="class-vis__level class-vis__level--graham-range"></div>
      <p>Grahams</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--highlandfive">
      <div class="class-vis__level class-vis__level--highlandfive-range"></div>
      <p>Highland Fives</p>
    </div>
    <div class="class-vis__mountain class-vis__mountain--donalddewey">
      <div class="class-vis__level class-vis__level--donalddewey-range"></div>
      <p>Donald Deweys</p>
    </div>
    <div class="class-vis__mountain class-vis__mountain--deweys">
      <div class="class-vis__level class-vis__level--deweys-range"></div>
      <p>Deweys</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--donald">
      <div class="class-vis__level class-vis__level--donald-range"></div>
      <p>Donalds</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--dillon">
      <div class="class-vis__level class-vis__level--dillon-range"></div>
      <p>Dillons</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--simm">
      <div class="class-vis__level class-vis__level--simm-range"></div>
      <p>Simms</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--nuttal">
      <div class="class-vis__level class-vis__level--nuttal-range"></div>
      <p>Nuttals</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--hewitt">
      <div class="class-vis__level class-vis__level--hewitt-range"></div>
      <p>Hewitts</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--furth">
      <div class="class-vis__level class-vis__level--furth-range"></div>
      <p>Furth</p>
    </div>
    
    <div class="class-vis__mountain class-vis__mountain--wainwrights">
      <div class="class-vis__level class-vis__level--wainwrights-range"></div>
      <p>Wainwrights & The Outlying Fells</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--none-hundreder">
      <div class="class-vis__level class-vis__level--none-hundreder-range"></div>
      <p>0-99</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--one-hundreder">
      <div class="class-vis__level class-vis__level--one-hundreder-range"></div>
      <p>100-199</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--two-hundreder">
      <div class="class-vis__level class-vis__level--two-hundreder-range"></div>
      <p>200-299</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--three-hundreder">
      <div class="class-vis__level class-vis__level--three-hundreder-range"></div>
      <p>300-399</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--four-hundreder">
      <div class="class-vis__level class-vis__level--four-hundreder-range"></div>
      <p>400-499</p>
    </div>

    <div class="class-vis__mountain class-vis__mountain--five-hundreder">
      <div class="class-vis__level class-vis__level--five-hundreder-range"></div>
      <p>500-599</p>
    </div>
	
    <div class="grid-line grid-line--nevis">
      <p class="grid-line__text grid-line__text--nevis">Ben Nevis, 1345m, 4413ft</p>
    </div>
    <div class="grid-line grid-line--snowdon">
      <p class="grid-line__text grid-line__text--snowdon">Snowdon, 1085m, 3560ft</p>
    </div>
    <div class="grid-line grid-line--carrauntoohil">
      <p class="grid-line__text grid-line__text--carrauntoohil">Carrauntoohil, 1038m, 3407ft</p>
    </div>
    <div class="grid-line grid-line--scafell">
      <p class="grid-line__text grid-line__text--scafell">Scafell, 978m, 3209ft</p>
    </div>
    
    <div class="grid-line grid-line--3000ft">
      <p class="grid-line__text grid-line__text--3000ft">3000ft</p>
    </div>
    <div class="grid-line grid-line--2500ft"><p class="grid-line__text grid-line__text--2500ft">2500ft</p></div>
    <div class="grid-line grid-line--2000ft"><p class="grid-line__text grid-line__text--2000ft">2000ft</p></div>
    <div class="grid-line grid-line--600m"><p class="grid-line__text grid-line__text--600m">600m</p></div>
    <div class="grid-line grid-line--0"></div>

    <div class="flag flag--scotland">🏴󠁧󠁢󠁳󠁣󠁴󠁿</div>
    <div class="flag flag--ireland">🇮🇪</div>
    <div class="flag flag--wales">🏴󠁧󠁢󠁷󠁬󠁳󠁿</div>
    <div class="flag flag--iom">🇮🇲</div>
    <div class="flag flag--england">🏴󠁧󠁢󠁥󠁮󠁧󠁿</div>
  </div>
</div>


<div class="v-pad"></div>

<div class="filter-panel">
  <div class="filter-panel__sidebar">
    <div class="filter-panel__sidebar-title">
      FILTER BY CLASSIFICATION
    </div>
  </div>
  <div class="filter-panel__class-grid">
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-munroe" id="munroe-filter-btn" onclick="filterBtnClick('munroe')">Munroes<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-corbett" id="corbett-filter-btn" onclick="filterBtnClick('corbett')">Corbetts<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-graham" id="graham-filter-btn" onclick="filterBtnClick('graham')">Grahams<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-donald" id="donald-filter-btn" onclick="filterBtnClick('donald')">Donalds<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-highland-five" id="highlandfive-filter-btn" onclick="filterBtnClick('highlandfive')">Highland Fives<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-donalddewey" id="donalddewey-filter-btn" onclick="filterBtnClick('donalddewey')">Donald Deweys<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-dewey" id="dewey-filter-btn" onclick="filterBtnClick('dewey')">Deweys<br />🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-dillon" id="dillon-filter-btn" onclick="filterBtnClick('dillon')">Dillons <br />🇮🇪</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-furth" id="furth-filter-btn" onclick="filterBtnClick('furth')">Furths <br />🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲🇮🇪</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-simm" id="simm-filter-btn" onclick="filterBtnClick('simm')">Simms (drop of 30m, 600m high)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-hewitt" id="hewitt-filter-btn" onclick="filterBtnClick('hewitt')">Hewitts<br />🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲🇮🇪</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-nuttal" id="nuttal-filter-btn" onclick="filterBtnClick('nuttal')">Nuttals<br />🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-wainwrights" id="wainwrights-filter-btn" onclick="filterBtnClick('wainwrights')">Wainwrights & The Outlying Fells<br />🏴󠁧󠁢󠁥󠁮󠁧󠁿</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-five-hundreder" id="5-filter-btn" onclick="filterBtnClick('5')">500-599m<br />(Dodds)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-four-hundreder" id="4-filter-btn" onclick="filterBtnClick('4')">400-499m<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-three-hundreder" id="3-filter-btn" onclick="filterBtnClick('3')">300-399m<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-two-hundreder" id="2-filter-btn" onclick="filterBtnClick('2')">200-299m<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-one-hundreder" id="1-filter-btn" onclick="filterBtnClick('1')">100-199m<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <button type="button" class="filter-btn filter-btn--off filter-panel__filter-none-hundreder" id="0-filter-btn" onclick="filterBtnClick('0')">0-99m<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      <p class="filter-panel__2k-label filter-panel__top-label">2000ft</p>
      <p class="filter-panel__2p5k-label filter-panel__top-label">2500ft</p>
      <p class="filter-panel__3k-label filter-panel__top-label">3000ft</p>

      <%# <div class="filter-panel__side-label">
        <div>🏴󠁧󠁢󠁳󠁣󠁴󠁿</div>
        <div>🇮🇪</div>
        <div>🇮🇲</div>
        <div>🏴󠁧󠁢󠁷󠁬󠁳󠁿</div>
        <div>🏴󠁧󠁢󠁥󠁮󠁧󠁿</div>
      </div> %>
      <%# <div class="filter-panel__scotland-label filter-panel__side-label"><div>🏴󠁧󠁢󠁳󠁣󠁴󠁿</div></div>
      <div class="filter-panel__ireland-label filter-panel__side-label"><div>🇮🇪</div></div>
      <div class="filter-panel__man-label filter-panel__side-label"><div>🇮🇲</div></div>
      <div class="filter-panel__wales-label filter-panel__side-label"><div>🏴󠁧󠁢󠁷󠁬󠁳󠁿</div></div>
      <div class="filter-panel__england-label filter-panel__side-label"><div>🏴󠁧󠁢󠁥󠁮󠁧󠁿</div></div> %>

      <div class="filter-panel__other-classes">
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter-sib" id="sib-filter-btn" onclick="filterBtnClick('sib')">SIBs (Islands)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter" id="tump-filter-btn" onclick="filterBtnClick('tump')">Tumps (P30)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter" id="hump-filter-btn" onclick="filterBtnClick('hump')">Humps (P100)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter" id="marylin-filter-btn" onclick="filterBtnClick('marylin')">Marylins (P150)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter" id="p500-filter-btn" onclick="filterBtnClick('p500')">P500<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
          <button type="button" class="filter-btn filter-btn--off filter-panel__filter" id="p600-filter-btn" onclick="filterBtnClick('p600')">P600 (Majors)<br />🏴󠁧󠁢󠁳󠁣󠁴󠁿🇮🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁷󠁬󠁳󠁿🇮🇲</button>
      </div>
  </div>
</div>

  <script>
    (() => {
      let filterByArray = getFilterParamsFromUrl();
      filterByArray.forEach(filter => {
        let filterBtnEl = document.getElementById(`${filter}-filter-btn`);
        filterBtnEl.className = filterBtnEl.className.replace('filter-btn--off', 'filter-btn--on');
      });
    })()
  </script>

<div class="v-pad"></div>

<div class="sorting-panel">
  <div class="h1">Sort by:</div>
  <select name="sortby" id="sortby">
    <option value="highest">Highest</option>
    <option value="lowest">Lowest</option>
  </select>
  <script>
    (() => {
      let select = document.getElementById('sortby');
      if (urlSearchParamsObject.sortby) {
        select.value = urlSearchParamsObject.sortby;
        if (select.selectedIndex == -1) {
          //-1 means there isnt a value that matches params.sortby
          //highest is our default
          select.value = 'highest';
        }
      }

      select.onchange = () => {
        urlSearchParams.set('sortby', select.value);
        window.location.search = urlSearchParams.toString();
      }
    })()
  </script>

  <%== pagy_bootstrap_nav(@pagy) %>
  <div class="h1">:Pagination</div>
</div>

<div class="v-pad"></div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <% if current_user %>
        <th>Bagged</th>
      <% end %>
      <th>Name</th>
      <th>
        Height
      </th>
      <th>Lat,lng</th>
      <th>distance ^v</th>
      <th>Munroe</th>
      <th>Corbett</th>
      <th>Graham</th>
      <th>Marylin</th>
      <th>Donald</th>
      <th>0 - 99m</th>
      <th>100 - 199m</th>
      <th>200 - 299m</th>
      <th>300 - 399m</th>
      <th>400 - 499m</th>
      <th>500 - 599m</th>
    </tr>
  </thead>

  <tbody>
    <% @summits.each do |summit| %>
      <tr>
        <% if current_user %>
          <th>
            <% if current_user.summits.exists?(summit.id) %>
              ✅
            <% end %>
          </th>
        <% end %>
        <td>
          <%= link_to(summit) do %>
            <%= summit.name %>
          <% end %>
        </td>
        <td>
          <%= summit.meters %>m,<br />
          <%= summit.feet %>ft
        </td>
        <td><%= summit.lat %>, <%= summit.lng %></td>
        <td class="js-distance" data-lat="<%= (summit.lat).round(3) %>" data-lng="<%= (summit.lng).round(3) %>"></td>
        <td>
          <%=  '✅' if summit.M %>
          <%=  '(top)' if summit.MT %>
          <%=  '(deleted)' if summit.xMT %>
        </td>
        <td>
          <%=  '✅' if summit.C %>
          <%=  '(top)' if summit.CT %>
          <%=  '(deleted)' if summit.xC %>
        </td>
        <td>
          <%=  '✅' if summit.G %>
          <%=  '(top)' if summit.GT %>
          <%=  '(deleted)' if summit.xG %>
        </td>
        <td>
          <%=  '✅' if summit.Ma %>
          <%=  '(Sub)' if summit.sMa %>
        </td>
        <td>
          <%=  '✅' if summit.D %>
          <%=  '(top)' if summit.DT %>
        </td>
        <td><%=  '✅' if summit.none_hundreder %></td>
        <td><%=  '✅' if summit.one_hundreder %></td>
        <td><%=  '✅' if summit.two_hundreder %></td>
        <td><%=  '✅' if summit.three_hundreder %></td>
        <td><%=  '✅' if summit.four_hundreder %></td>
        <td><%=  '✅' if summit.five_hundreder %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="v-pad"></div>

<%== pagy_bootstrap_nav(@pagy) %>

<%# <%= link_to 'New Summit', new_summit_path %>

<div class="v-pad"></div>

<%= javascript_pack_tag 'distance' %>
