<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @summit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @summit.description %>
</p>

<%= link_to 'Edit', edit_summit_path(@summit) %> |
<%= link_to 'Back', summits_path %>
